@import url(@/assets/font/stylesheet.scss);
html,body {
  font-family: 'MyFont' !important; 
  font-size: 12px;
}
.main {
  width: 200px;
  height: 200px;
  background: $--color-primary;
  border: 1px solid lightseagreen;
}